.icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.trash-icon {
    margin-left: 0.7rem;
    cursor: pointer;
    font-size: 1.4rem;
    color: red;
}

.edit-image {
    img {
        width: 85%;
    }
}
.edit-icon {
    margin-top: 1px;
    cursor: pointer;
    font-size: 1.4rem;
    color: blue;
}

.back-btn {
    margin-left: 1rem;
}

.post-image {
    img {
        width: 100%;
    }
}