.footer-container {
    display: flex;
    flex: 1;
    justify-content: center;
    font-size: 0.9rem;
    background-color: $bisqueish;
    text-align: center;
    margin-top: 1rem;
    padding: 0.4rem;
}
